<template>
	<div class="ev-donation-widget"
		:class="{
			'ev-donation-widget--primary': theme == 'primary',
			'ev-donation-widget--secondary': theme == 'secondary',
			'ev-donation-widget--accent': theme == 'accent',
			'ev-donation-widget--warn': theme == 'warn',
			'ev-donation-widget--sm': size == 'small',
			'ev-donation-widget--md': size == 'medium',
			'ev-donation-widget--lg': size == 'large',
			'is-dark': dark
		}"
	>
		<form class="ev-donation-widget__form" @submit="onSubmit">
			<span class="ev-donation-widget__icon material-icons" v-if="size == 'medium'">
				favorite
			</span>

			<h4 class="ev-donation-widget__title">
				Doação
			</h4>

			<p class="ev-donation-widget__subtitle">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</p>

			<ev-text v-if="size == 'medium'"
				label="Seu email"
				v-model="person.email"
				placeholder="email@exemplo.com"
				name="email"
				:size="size"
				:theme="dark && size == 'small' ? 'warn' : theme"
				:dark="size == 'medium' && dark ? false : dark"
			>
			</ev-text>

			<ev-select
				type="number"
				label="Valor"
				v-model="donation.value"
				placeholder="Selecione um valor"
				:options="values"
				:size="size"
				:theme="dark && size == 'small' ? 'warn' : theme"
				:dark="size == 'medium' && dark ? false : dark"
			>
			</ev-select>

			<ev-button :theme="dark && size == 'small' ? 'warn' : theme" :size="size">
				Doar
			</ev-button>
		</form>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';

	export default {
		props: {
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			dark: {
				type: Boolean,
				default: false
			},
			size: {
				type: String,
				default: 'medium'
			}
		},
		data: () => ({
			values: {
				'5,00': 'R$ 5,00',
				'10,00': 'R$ 10,00',
				'20,00': 'R$ 20,00',
				'': 'Outro valor'
			}
		}),
		computed: {
			...mapGetters({
				person: 'donation/getPerson',
				donation: 'donation/getDonation'
			})
		},
		methods: {
			onSubmit(event) {
				this.$emit('submit', event);

				event.preventDefault();
			},
		}
	}
</script>

<style lang="sass">
	.ev-donation-widget{
		.ev-button,
		.ev-text,
		.ev-select{
			width: 100%;
		}

		&--sm{
			.ev-donation-widget{
				&__form{
					border: 2px solid rgba(black, 0.3);
					border-radius: 10px;
					box-sizing: border-box;
					padding: 15px;
					text-align: center;
				}
				&__title{
					margin: 0 0 .5em;
					padding-bottom: .5em;
					font-size: 2rem;
					position: relative;
					&:before{
						content: "";
						position: absolute;
						top: 100%;
						left: 50%;
						width: 140px;
						height: 1px;
						background: rgba(black, 0.3);
						transform: translate(-50%, 0);
					}
				}
				&__subtitle{
					margin: 0.25em 0 1em;
					line-height: 150%;
					font-size: 1.2rem;
				}
			}

			// Theming
			@each $theme, $color in $themes {
				&.ev-donation-widget--#{$theme}{
					&:not(.is-dark){
						.ev-donation-widget{
							&__form{
								color: $color;
								border-color: $color;
								background: transparent;
							}
							&__title:before{
								background: $color;
							}
						}
					}
					&.is-dark{
						.ev-donation-widget{
							&__form{
								background: $color;
								border-color: $color;
								color: white;
							}
							&__title:before{
								background: white;
							}
						}
					}
				}
			}
		}

		&--md{
			.ev-donation-widget{
				&__form{
					display: flex;
					flex-flow: row wrap;
					align-items: flex-end;
					justify-content: center;
					border-radius: 10px;
					padding: 30px;
					margin-bottom: 40px;
					position: relative;
					box-sizing: border-box;
					text-align: center;
					.ev-text{
						width: 100%;
					}
					.ev-button{
						width: 100%;
					}
				}
				&__icon{
					left: 50%;
					top: 0%;
					transform: translate(-50%, -50%);
					font-size: 7rem;
					position: absolute;
					width: 120px;
					height: 120px;
					border-radius: 120px;
					color: $color-warn;
					border: 16px solid $color-warn;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				&__title{
					width: 100%;
					font-size: 3.2rem;
					font-family: Raleway;
					font-weight: 700;
					margin: 2em 0 0.25em 0;
				}
				&__subtitle{
					font-size: 1.6rem;
					line-height: 150%;
					margin: 0 0 2em;
					border-bottom: 1px solid white;
					padding-bottom: 2em;
				}
			}

			@each $theme, $color in $themes {
				&.ev-donation-widget--#{$theme}{
					.ev-donation-widget{
						&__icon{
							background-color: $color;
						}
						&__subtitle{
							border-color: $color;
						}
						&__form{
							color: $color;
						}
					}
					&.is-dark{
						.ev-donation-widget{
							&__form{
								background: white;
							}
						}
					}
					&:not(.is-dark){
						.ev-donation-widget{
							&__form{
								border: 2px solid $color;
							}
						}
					}
				}
			}
		}
	}
</style>
