<template>
	<ev-modal class="ev-donation-modal" @close="onClose" theme="primary">
		<div class="container">
			<ev-stepper class="ev-donation-modal__stepper"
				:value="step"
				:steps="steps"
				@input="setStep"
				direction="vertical"
				theme="primary"
			>
			</ev-stepper>

			<div class="ev-donation-modal__body">
				<transition name="slide-up">
					<ev-donation-choose v-if="step == 1" @select="setStep(2)">
					</ev-donation-choose>

					<ev-donation-personal v-else-if="step == 2" @submit="setStep(3)">
					</ev-donation-personal>

					<ev-donation-address v-else-if="step == 3" @submit="setStep(4)">
					</ev-donation-address>

					<ev-donation-payment v-else-if="step == 4">
					</ev-donation-payment>
				</transition>
			</div>
		</div>

		<transition name="slide-up">
			<aside class="ev-donation-modal__sidenav" v-if="step > 1">
				<ev-button size="small" theme="secondary" :dark="false" @click="setStep(step - 1)">
					Anterior
				</ev-button>
				<div class="ev-donation-modal__summary">
					<span class="ev-donation-modal__value">
						<span>{{ donation.value }}</span> reais
					</span>
					<span class="ev-donation-modal__institution">
						para {{ institution.name }}
					</span>
				</div>
			</aside>
		</transition>
	</ev-modal>
</template>

<script>
	import { $store } from '../../main';
	import { mapGetters } from 'vuex';

	export default {
		components: {
			'ev-donation-choose': require('./DonationChoose'),
			'ev-donation-personal': require('./DonationPersonal'),
			'ev-donation-address': require('./DonationAddress'),
			'ev-donation-payment': require('./DonationPayment')
		},
		data: () => ({
			current: 1,
			steps: [
				'Valor e Instituição',
				'Dados Pessoais',
				'Endereço',
				'Pagamento'
			]
		}),
		computed: {
			...mapGetters({
				step: 'donation/getStep',
				donation: 'donation/getDonation',
				person: 'donation/getPerson',
				address: 'donation/getAddress',
				institution: 'donation/getInstitution'
			})
		},
		beforeRouteEnter(to, from, next) {
			$store.dispatch('institution/fetchInstitutions')
				.then(institutions => {
					next()
				})
		},
		methods: {
			onClose(event) {
				this.$emit('close', event);

				// Reset steps
				setTimeout(() => this.setStep(1), 1000);
			},
			setStep(step) {
				if (step == 3)
					this.$store.dispatch('location/fetchCountries')
						.then(countries => {
							this.$store.commit('donation/setStep', step);
						})
				else if (step == 4)
					this.$store.dispatch('donation/addDonation', {
						donation: this.donation,
						person: this.person,
						address: this.address
					})
						.then(donation => {
							this.$store.commit('donation/setStep', step);
						})
				else
					this.$store.commit('donation/setStep', step);
			}
		}
	}
</script>

<style lang="sass">
	.ev-donation-modal{
		display: flex;
		align-items: center;
		&__stepper{
			@include grid-column(1, (columns: 8));
		}
		&__body{
			position: relative;
			@include grid-column(7, (columns: 8));
			> * {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
		}
		&__sidenav{
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			color: white;
			font-family: Raleway;
			box-sizing: border-box;
			padding: 20px 20px;
			background: darken($color-secondary, 10%);
			line-height: 100%;
			display: flex;
			align-items: center;
			.ev-button{
				width: 150px;
			}
		}
		&__summary{
			flex: 1;
			text-align: right;
		}
		&__value{
			font-size: 3rem;
			font-weight: 200;
			span{
				font-weight: 700;
			}
		}
		&__institution{
			font-size: 1.4rem;
			font-weight: 700;
		}
		.container{
			width: 100%;
			padding: 100px 0;
			position: relative;
		}
	}
</style>
