<template>
	<div class="ev-donation-personal">
		<h3 class="ev-donation-personal__title">
			Dados Pessoais
		</h3>

		<ev-form class="ev-donation-personal__form" :callback="onSubmit">
			<div class="ev-donation-personal__fieldset">
				<ev-text
					ref="first_name"
					class="ev-donation-personal__first-name"
					label="Nome"
					name="first-name"
					validate="required|min:4"
					v-model="person.first_name"
					:theme="theme"
					:dark="true"
				>
				</ev-text>

				<ev-text
					class="ev-donation-personal__last-name"
					label="Sobrenome"
					name="last-name"
					validate="required|min:4"
					v-model="person.last_name"
					:theme="theme"
					:dark="true"
				>
				</ev-text>

				<ev-text
					class="ev-donation-personal__email"
					label="Email"
					name="email"
					validate="required|email"
					v-model="person.email"
					:theme="theme"
					:dark="true"
				>
				</ev-text>

				<ev-text
					class="ev-donation-personal__phone"
					label="Telefone"
					name="phone"
					mask="phone"
					v-model="person.phone"
					:theme="theme"
					:dark="true"
				>
				</ev-text>

				<ev-text
					class="ev-donation-personal__phone"
					label="Celular"
					name="mobile"
					mask="phone"
					validate="required|min:14"
					v-model="person.mobile"
					:theme="theme"
					:dark="true"
				>
				</ev-text>

				<ev-text
					class="ev-donation-personal__rg"
					label="RG"
					name="rg"
					validate="required|min:6"
					v-model="person.rg"
					:theme="theme"
					:dark="true"
				>
				</ev-text>

				<ev-text
					class="ev-donation-personal__cpf"
					label="CPF"
					name="cpf"
					mask="cpf"
					validate="required|min:14"
					v-model="person.cpf"
					:theme="theme"
					:dark="true"
				>
				</ev-text>
			</div>

			<ev-button size="large" theme="primary" :dark="true">
				Prosseguir
			</ev-button>
		</ev-form>

		<aside class="ev-donation-personal__sidenav">
		</aside>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';

	export default {
		data: () => ({
			theme: 'accent'
		}),

		computed: {
			...mapGetters({
				person: 'donation/getPerson'
			})
		},

		mounted() {
			setTimeout(() => {
				this.$refs.first_name.focus();
			}, 400);
		},

		methods: {
			onSubmit(event) {
				this.$emit('submit', event);
			}
		}
	}
</script>

<style lang="sass">
	.ev-donation-personal{
		@include grid-collapse;
		&__header{
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 0;
			color: white;
		}
		&__title{
			font-family: Raleway;
			font-weight: 200;
			font-size: 4rem;
			margin: .5em 0 .75em;
			color: white;
			@include grid-column(12);
		}
		&__form{
			@include grid-column(9);
		}
		&__sidenav{
			@include grid-column(3);
		}
		&__fieldset{
			@include grid-collapse;
		}
		&__first-name,
		&__last-name{
			@include grid-column(6);
		}
		&__email{
			@include grid-column(4);
		}
		&__phone{
			@include grid-column(4);
		}
		&__rg,
		&__cpf{
			@include grid-column(6);
		}
		.ev-button{
			width: 100%;
		}
	}
</style>
