$ease-primary: cubic-bezier(.25, .8, .25, 1);

// Router
.router-enter-active, .router-leave-active {
	transition: .3s $ease-primary;
}
.router-leave-active{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.router-enter-active {
	transition-delay: .3s;
}
.router-enter{
	opacity: 0;
	transform: translate(0, -100px) scale(1.2);
}
.router-leave-active{
	opacity: 0;
	transform: translate(0, 300px) scale(.8);
}

// Fade Slide
.fade-slide-enter-active, .fade-slide-leave-active {
	transition: .3s $ease-primary;
}
.fade-slide-enter-active {
	transition-delay: .3s;
}
.fade-slide-enter{
	opacity: 0;
	transform: translateX(100px);
}
.fade-slide-leave-active{
	opacity: 0;
	transform: translateX(-300px);
}

// Fade Scale
.fade-scale-enter-active {
	transition: all .4s $ease-primary;
}
.fade-scale-leave-active {
	transition: all .4s $ease-primary;
}
.fade-scale-enter {
	opacity: 0;
	transform: scale(1.2);
}
.fade-scale-leave-active {
	opacity: 0;
	transform: scale(1.2);
}

// Slide Up
.slide-up-enter-active, .slide-up-leave-active {
	transition: .4s $ease-primary;
}
.slide-up-enter-active {
	transition-delay: .3s;
}
.slide-up-enter{
	opacity: 0;
	transform: translateY(100%);
}
.slide-up-leave-active{
	opacity: 0;
	transform: translateY(100%);
}
