<template>
	<button class="ev-button"
		v-bind:class="{
			'ev-button--primary': theme == 'primary',
			'ev-button--secondary': theme == 'secondary',
			'ev-button--warn': theme == 'warn',
			'ev-button--accent': theme == 'accent',
			'ev-button--sm': size == 'small',
			'ev-button--md': size == 'medium',
			'ev-button--lg': size == 'large',
			'has-ripple': ripple,
			'is-dark': dark,
			'is-icon': icon
		}"
		@click="onClick"
	>
		<slot></slot>
	</button>
</template>

<script>
	export default {
		props: {
			theme: {
				type: String,
				default: 'primary' // primary|secondary|warn|accent
			},
			size: {
				type: String,
				default: 'medium' // medium|small|large
			},
			dark: {
				type: Boolean,
				default: false
			},
			ripple: {
				type: Boolean,
				default: true
			},
			icon: {
				type: Boolean,
				default: false
			}
		},
		methods: {
			onClick(event) {
				this.$emit('click', event);
			}
		}
	}
</script>

<style lang="sass">
	.ev-button{
		border: 0;
		border-radius: 6px;
		cursor: pointer;
		color: white;
		height: auto;
		font-family: Raleway;
		background-color: rgba(black, 0.3);
		position: relative;
		overflow: hidden;
		transition: background-color .5s $ease-primary;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: .3s $ease-primary;
			background-color: rgba(white, 0);
		}
		&.has-ripple:before{
			top: 50%;
			left: 50%;
			width: 200px;
			height: 200px;
			border-radius: 999px;
			transform: translate(-50%, -50%) scale(1);
		}
		&.is-dark{
			background: white;
			color: black;
		}
		&--primary{
			background-color: $color-primary;
			&.is-dark{
				color: $color-primary;
			}
		}
		&--secondary{
			background-color: $color-secondary;
			&.is-dark{
				color: $color-secondary;
			}
		}
		&--warn{
			background-color: $color-warn;
			&.is-dark{
				color: $color-warn;
			}
		}
		&--accent{
			background-color: $color-accent;
			&.is-dark{
				color: $color-accent;
			}
		}
		&--sm{
			padding: 7px 20px;
			font-size: 1.4rem;
			font-weight: 700;
			&.is-icon{
				font-size: 1.8rem;
				width: 40px;
				height: 40px;
			}
		}
		&--md{
			padding: 14px 30px;
			font-size: 1.6rem;
			font-weight: 700;
			&.is-icon{
				width: 50px;
				height: 50px;
				font-size: 24px;
				font-size: 2.2rem;
			}
		}
		&--lg{
			padding: 18px 30px;
			font-size: 2rem;
			font-weight: 700;
			&.is-icon{
				width: 60px;
				height: 60px;
				font-size: 2.8rem;
			}
		}
		&.is-icon{
			border-radius: 999px;
			padding: 0;
		}
		&:hover{
			&.has-ripple:not(.is-icon){
				&.ev-button--sm:before{
					transform: translate(-50%, -50%) scale(0.3);
				}
				&.ev-button--md:before{
					transform: translate(-50%, -50%) scale(0.5);
				}
				&.ev-button--lg:before{
					transform: translate(-50%, -50%) scale(.8);
				}
			}
			&.is-dark{
				color: white;
				&.ev-button--primary{
					background: $color-primary;
				}
				&.ev-button--secondary{
					background: $color-secondary;
				}
				&.ev-button--accent{
					background: $color-accent;
				}
				&.ev-button--warn{
					background: $color-warn;
				}
			}
			&:before{
				background: rgba(white, 0.1);
			}
		}
	}
</style>
