<template>
	<form @submit.prevent="submit">
		<slot></slot>
	</form>
</template>

<script>
export default {
	props: {
		callback: {
			type: Function,
			default: () => ({})
		}
	},
	data: () => ({
		//
	}),
	methods: {
		submit () {
			let errors = 0;

			// Subscribe to child's error-changed event
			this.$on('errors-changed', success => {
				if (!success)
					errors++;
			})

			// Validates all child components
			this.validate();

			setTimeout(() => {
				if (errors == 0)
					this.callback();
				else
					this.$store.commit('logger/error', {
						message: 'Por favor, confira os dados do formulário!'
					})
			}, 500)
		},
		validate () {
			this.$emit('validate');
		}
	}
}
</script>
