<template>
	<div class="ev-gallery"
		:class="{
			'ev-gallery--primary': theme == 'primary',
			'ev-gallery--secondary': theme == 'secondary',
			'ev-gallery--accent': theme == 'accent',
			'ev-gallery--warn': theme == 'warn',
		}"
	>
		<ev-slideshow :options="swiper" :theme="theme">
			<div class="ev-gallery__thumbnail"
				v-for="image in images"
				:style="{
					'background-image': `url(${image.src})`
				}"
			>
			</div>
		</ev-slideshow>
	</div>
</template>

<script>
	export default {
		props: {
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			images: {
				type: Array,
				default: () => []
			}
		},
		data() {
			return{
				swiper: {
					loop: false,
					slidesPerView: 3,
					spaceBetween: 20,
					onClick: swiper => {
						this.onSelect(swiper.clickedIndex);
					}
				}
			}
		},
		methods: {
			onSelect(image) {
				this.$emit('select', image);
			}
		}
	}
</script>

<style lang="sass">
	.ev-gallery{
		&__thumbnail{
			background-size: cover;
			background-position: 50% 50%;
			border-radius: 6px;
			cursor: pointer;
			position: relative;
			overflow: hidden;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 6px;
				opacity: 0;
				background: rgba(black, 0.7);
				transition: .3s $ease-primary;
			}
			&:after{
				content: "search";
				font-family: 'Material Icons';
				font-size: 5rem;
				color: white;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(1.5);
				transition: .3s $ease-primary;
				opacity: 0;
			}
			&:hover{
				&:before{
					opacity: 1;
				}
				&:after{
					opacity: 1;
					transform: translate(-50%, -50%) scale(1);
				}
			}
		}
		.ev-slideshow{
			&__wrapper{
				height: 160px;
			}
		}
		@each $theme, $color in $themes{
			&--#{$theme}{
				.ev-gallery{
					&__thumbnail{
						&:before{
							background: rgba(darken($color, 20%), 0.7);
						}
					}
				}
			}
		}
	}
</style>
