<template>
	<header class="ev-inner-header"
		:class="{
			'ev-inner-header--primary': theme == 'primary',
			'ev-inner-header--secondary': theme == 'secondary',
			'ev-inner-header--accent': theme == 'accent',
			'ev-inner-header--warn': theme == 'warn'
		}"
		:style="{
			'background-image': `url(${background ? background : 'http://lorempixel.com/1024/768'})`
		}"
	>
		<div class="container">
			<h2 class="ev-inner-header__title">
				{{ title }}
			</h2>
		</div>
	</header>
</template>

<script>
	export default {
		props: {
			theme: {
				type: String,
				default: 'primary'
			},
			title: {
				type: String,
				default: ''
			},
			background: {
				type: String,
				default: ''
			}
		}
	}
</script>

<style lang="sass">
	.ev-inner-header{
		height: 400px;
		background-position: center;
		background-size: cover;
		display: flex;
		align-items: flex-end;
		position: relative;
		margin-bottom: 70px;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: linear-gradient(to right bottom, rgba(black, 0.7) 0%, rgba(black, 0) 70%);
		}
		&__title{
			color: white;
			text-align: left;
			line-height: 70%;
			padding: 10px 30px;
			border-left: 2px solid white;
			box-sizing: border-box;
			font-family: Raleway;
			font-size: 6rem;
			font-weight: 200;
			@include grid-column(12);
		}
		.container{
			flex: 1;
			position: relative;
			z-index: 5;
		}
		@each $theme, $color in $themes{
			&--#{$theme}{
				&:before{
					background: linear-gradient(to right bottom, rgba(darken($color-secondary, 20%), 0.9) 0%, rgba($color, 0.9) 100%);
				}
			}
		}
	}
</style>
