<template>
	<div class="ev-select"
		:class="{
			'ev-select--primary': theme == 'primary',
			'ev-select--secondary': theme == 'secondary',
			'ev-select--accent': theme == 'accent',
			'ev-select--warn': theme == 'warn',
			'ev-select--sm': size == 'small',
			'ev-select--md': size == 'medium',
			'ev-select--lg': size == 'large',
			'is-dark': dark,
			'is-focus': focus
		}"
	>
		<span class="ev-select__label">
			{{ label }}
		</span>

		<div class="ev-select__input">
			<span
				class="ev-select__prefix"
				v-if="prefix.length > 0"
			>
				{{ prefix }}
			</span>

			<span
				class="ev-select__element"
				tabindex="0"
				@keydown="onKeydown"
				@focus="onFocus"
				@blur="onBlur"
			>
				<span class="ev-select__value" v-if="value.length > 0">
					{{ options[value] || options[''] }}
				</span>
				<span class="ev-select__placeholder" v-if="value.length == 0">
					{{ placeholder }}
				</span>
				<span class="ev-select__arrow material-icons">
					keyboard_arrow_down
				</span>
			</span>

			<div class="ev-select__dropdown">
				<button v-for="(option, index) in options"
					@click="onChange($event, index)"
					:class="{
						'is-active': value == index || !options[value] && index == ''
					}"
				>
					{{ option }}
				</button>
			</div>
		</div>

		<span class="ev-select__error">
		</span>
	</div>
</template>

<script>
	export default {
		props: {
			type: {
				type: String,
				default: 'text'
			},
			label: {
				type: String,
				default: ''
			},
			prefix: {
				type: String,
				default: ''
			},
			placeholder: {
				type: String,
				default: ''
			},
			value: {
				type: String|Number,
				default: ''
			},
			options: {
				type: Object,
				default: () => {}
			},
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			size: {
				type: String,
				default: 'medium' // small|medium|large
			},
			dark: {
				type: Boolean,
				default: false
			}
		},
		data: () => ({
			focus: false,
		}),
		methods: {
			onClick(event) {
				event.preventDefault();
			},
			onKeydown(event) {
				// event.preventDefault();
			},
			onFocus(event) {
				this.focus = true;
			},
			onBlur(event) {
				this.focus = false;
			},
			onChange(event, value) {
				event.preventDefault();
				this.$emit('input', value);
			}
		}
	}
</script>

<style lang="sass">
	.ev-select{
		position: relative;
		display: block;
		cursor: pointer;
		&__label{
			font-size: 1.2rem;
			color: black;
			display: block;
			text-align: left;
			padding-bottom: 10px;
		}
		&__input{
			position: relative;
			display: flex;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border: 1px solid black;
				border-radius: 6px;
				transition: .15s ease-out;
			}
		}
		&__element{
			border: 0;
			background: transparent;
			color: black;
			width: 100%;
			flex: 1;
			transition: color .3s $ease-primary;
			position: relative;
			outline: none;
			text-align: left;
			&::-webkit-input-placeholder {
				color: rgba(black, 0.2);
			}
			&:-moz-placeholder {
				color: rgba(black, 0.2);
			}
			&::-moz-placeholder {
				color: rgba(black, 0.2);
			}
			&:-ms-input-placeholder {
				color: rgba(black, 0.2);
			}
			&::-ms-input-placeholder {
				color: rgba(black, 0.2);
			}
		}
		&__prefix{
			line-height: normal;
			display: flex;
			align-self: center;
			color: black;
			font-weight: 600;
			padding-right: 5px;
			transition: color .3s $ease-primary;
			position: relative;
		}
		&__placeholder{
			font-weight: 400;
			opacity: 0.5;
		}
		&__error{
			position: absolute;
		}
		&__arrow{
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
		}
		&__dropdown{
			position: absolute;
			top: 90%;
			left: 0;
			width: 100%;
			min-width: 200px;
			max-width: 300px;
			max-height: 170px;
			overflow-y: auto;
			background: white;
			border-radius: 6px;
			padding: 8px 0;
			z-index: 20;
			margin-top: 5px;
			opacity: 0;
			visibility: hidden;
			box-shadow: 0 2px 4px -1px rgba(black, .2), 0 4px 5px rgba(black, .14), 0 1px 10px rgba(black, .12);
			transition: .3s $ease-primary;
			button{
				width: 100%;
				border: 0;
				border-left: 4px solid transparent;
				background: transparent;
				font-weight: 700;
				text-align: left;
				cursor: pointer;
				&:hover{
					background: rgba(black, 0.1);
				}
			}
		}
		&--sm{
			padding-bottom: 20px;
			.ev-select{
				&__element{
					font-size: 1.4rem;
					font-weight: 700;
					padding: 8px 0;
				}
				&__label{
					font-size: 1rem;
					padding-bottom: 5px;
				}
				&__prefix{
					font-size: 1.4rem;
				}
				&__input{
					padding: 0 8px;
				}
				&__dropdown{
					button{
						font-size: 1.3rem;
						padding: .75em 1em;
					}
				}
			}
		}
		&--md{
			padding-bottom: 30px;
			.ev-select{
				&__element{
					font-size: 1.6rem;
					font-weight: 700;
					padding: 14px 0;
				}
				&__prefix{
					font-size: 1.6rem;
				}
				&__input{
					padding: 0 14px;
				}
				&__dropdown{
					button{
						font-size: 1.5rem;
						padding: .75em 1em;
					}
				}
			}
		}
		&--lg{
			padding-bottom: 30px;
			.ev-select{
				&__element{
					font-size: 2rem;
					font-weight: 700;
					padding: 18px 0;
				}
				&__prefix{
					font-size: 2rem;
				}
				&__input{
					padding: 0 18px;
				}
				&__dropdown{
					button{
						font-size: 1.5rem;
						padding: .75em 1em;
					}
				}
			}
		}
		&.is-focus{
			.ev-select{
				&__input{
					&:before{
						border-width: 2px;
					}
				}
				&__dropdown{
					top: 100%;
					opacity: 1;
					visibility: visible;
				}
			}
			&:not(.is-dark){
				.ev-select{
					&__element{
						color: white;
					}
				}
			}
		}
		&.is-dark{
			.ev-select{
				&__label,
				&__element,
				&__prefix{
					color: white;
				}
				&__input{
					&:before{
						border-color: white;
					}
				}
				&__element{
					&::-webkit-input-placeholder {
						color: rgba(white, 0.2);
					}
					&:-moz-placeholder {
						color: rgba(white, 0.2);
					}
					&::-moz-placeholder {
						color: rgba(white, 0.2);
					}
					&:-ms-input-placeholder {
						color: rgba(white, 0.2);
					}
					&::-ms-input-placeholder {
						color: rgba(white, 0.2);
					}
				}
			}
		}
	}

	@each $theme, $color in $themes {
		.ev-select--#{$theme} {
			.ev-select{
				&__dropdown{
					button{
						color: darken($color, 10%);
						&:hover{
							background: rgba($color, 0.1);
						}
					}
					button.is-active{
						background: rgba($color, 0.3);
						border-color: $color;
					}
				}
			}
			&:not(.is-dark){
				.ev-select{
					&__prefix{
						color: $color;
					}
				}
			}

			&.is-focus,
			&:not(.is-dark){
				.ev-select{
					&__label,
					&__prefix,
					&__element{
						color: $color;
					}
					&__input{
						&:before{
							border-color: $color;
						}
					}
				}
			}

			&.is-focus:not(.is-dark){
				.ev-select{
					&__prefix{
						color: white;
					}
					&__input:before{
						background-color: $color;
					}
				}
			}
		}
	}
</style>
