<template>
	<nav class="ev-social-share"
		:class="{
			'ev-social-share--primary': theme == 'primary',
			'ev-social-share--secondary': theme == 'secondary',
			'ev-social-share--accent': theme == 'accent',
			'ev-social-share--warn': theme == 'warn',
		}"
	>
		<div class="ev-social-share__icon">
			<span class="material-icons">
				share
			</span>
			Compartilhe
		</div>
		<ev-button :icon="true" size="small" :theme="theme">
			<span class="icon icon-facebook"></span>
		</ev-button>
		<ev-button :icon="true" size="small" :theme="theme">
			<span class="icon icon-twitter"></span>
		</ev-button>
		<ev-button :icon="true" size="small" :theme="theme">
			<span class="icon icon-google"></span>
		</ev-button>
	</nav>
</template>

<script>
	export default {
		props: {
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			}
		}
	}
</script>

<style lang="sass">
	.ev-social-share{
		position: relative;
		&__icon{
			text-align: center;
			font-size: .8rem;
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translate(-50%, -15px);
			span.material-icons{
				display: block;
				font-size: 1.9rem;
				margin-bottom: 5px;
			}
		}
		.ev-button{
			display: block;
			margin-bottom: 10px;
		}
		@each $theme, $color in $themes{
			&--#{$theme}{
				.ev-social-share{
					&__icon{
						color: $color;
					}
				}
			}
		}
	}
</style>
