<template>
	<div class="ev-stepper"
		:class="{
			'ev-stepper--primary': theme == 'primary',
			'ev-stepper--secondary': theme == 'secondary',
			'ev-stepper--accent': theme == 'accent',
			'ev-stepper--warn': theme == 'warn',
			'ev-stepper--sm': size == 'small',
			'ev-stepper--md': size == 'medium',
			'ev-stepper--lg': size == 'large',
			'is-horizontal': direction == 'horizontal',
			'is-vertical': direction == 'vertical',
			'is-dark': dark
		}"
	>
		<nav class="ev-stepper__nav">
			<template v-for="(step, index) in steps">
				<button class="ev-stepper__step"
					:class="{
						'is-active': value == index + 1,
						'is-disabled': value < index + 1
					}"
					@click="onChange(index + 1)"
				>
					<span class="ev-stepper__number">
						{{ index + 1 }}
					</span>
					<span class="ev-stepper__label">
						{{ step }}
					</span>
				</button>

				<span class="ev-stepper__divider" v-if="index + 1 < steps.length">
				</span>
			</template>
		</nav>

		<slot></slot>
	</div>
</template>

<script>
	export default {
		props: {
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			size: {
				type: String,
				default: 'medium'
			},
			dark: {
				type: Boolean,
				default: true
			},
			value: {
				type: Number,
				default: 1
			},
			direction: {
				type: String,
				default: 'horizontal'
			},
			steps: {
				type: Array,
				default: () => []
			}
		},
		methods: {
			next() {
			
			},
			prev() {
			
			},
			onChange(value) {
				this.$emit('input', value);
			}
		}
	}
</script>

<style lang="sass">
	.ev-stepper{
		&__step{
			position: relative;
			margin: 0 10px;
			background: transparent;
			border: 0;
			cursor: pointer;
			&.is-disabled{
				cursor: default;
				pointer-events: none;
				opacity: .4;
			}
			&.is-disabled,
			&.is-active{
				+ .ev-stepper{
					&__divider{
						opacity: 0.5;
					}
				}
			}
		}
		&__number{
			font-weight: 400;
			border-radius: 999px;
			display: flex;
			margin: auto;
			align-items: center;
			justify-content: center;
		}
		&__label{
			line-height: 150%;
			display: block;
			margin-top: 5px;
			font-weight: 600;
			font-family: Raleway;
		}
		&__divider{
			background: red;
			display: block;
		}
		&--sm{
			.ev-stepper{
				&__number{
					font-size: 4rem;
				}
			}
		}
		&--md{
			.ev-stepper{
				&__label{
					font-size: 1.2rem;
				}
				&__number{
					font-size: 2.4rem;
					width: 40px;
					height: 40px;
				}
			}
		}
		&--lg{
			.ev-stepper{
				&__number{
					font-size: 4rem;
				}
			}
		}
		&.is-horizontal{
			.ev-stepper{
				&__nav{
					display: flex;
					flex-flow: row;
					align-items: center;
				}
				&__step{
					flex: 1 100%;
				}
				&__divider{
					width: 100%;
					height: 2px;
				}
			}
		}
		&.is-vertical{
			.ev-stepper{
				&__nav{
				}
				&__divider{
					width: 2px;
					height: 50px;
					margin: auto;
				}
				&__step{
					width: 100%;
					padding: 0;
					margin: 5px 0;
				}
				&__number{
					margin-top: 5px;
				}
			}
		}
		&.is-dark{
			.ev-stepper{
				&__label{
					color: white;
				}
				&__divider{
					background: white;
				}
				&__number{
					color: white;
					border: 2px solid white;
				}
			}
		}
		@each $theme, $color in $themes{
			&--#{$theme}{
				.ev-stepper{
					&__number{
						color: $color;
					}
					&__step{
						&.is-active{
							.ev-stepper{
								&__number{
									color: white;
									background: lighten($color, 10%);
									border-color: transparent;
								}
							}
						}
					}
				}
			}
		}
	}
</style>
