<template>
	<label class="ev-text"
		:class="{
			'ev-text--primary': theme == 'primary',
			'ev-text--secondary': theme == 'secondary',
			'ev-text--accent': theme == 'accent',
			'ev-text--warn': theme == 'warn',
			'ev-text--sm': size == 'small',
			'ev-text--md': size == 'medium',
			'ev-text--lg': size == 'large',
			'is-dark': dark,
			'is-focused': focused,
			'is-invalid': errors.has(name)
		}"
	>
		<span class="ev-text__label">
			{{ label }}
		</span>

		<div class="ev-text__input">
			<span class="ev-text__prefix" v-if="prefix.length > 0">
				{{ prefix }}
			</span>
			<input
				ref="element"
				class="ev-text__element"
				tabindex="0"
				v-ev-mask-cpf="mask == 'cpf'"
				v-ev-mask-phone="mask == 'phone'"
				v-ev-mask-cep="mask == 'cep'"
				v-ev-mask-date="mask == 'date'"
				v-validate="validate"
				:name="name"
				:type="type"
				:data-vv-name="name"
				:value="value"
				:placeholder="placeholder"
				@input="onChange"
				@focus="onFocus"
				@blur="onBlur"
				@keyup="onKeyUp"
				@keydown="onKeyDown"
			>
		</div>

		<span
			class="ev-text__error"
			v-show="errors.has(name)"
		>
			{{ errors.first(name) }}
		</span>

	</label>
</template>

<script>
	export default {
		mixins: [
			require('../../mixins/validate').default
		],
		props: {
			type: {
				type: String,
				default: 'text'
			},
			name: {
				type: String,
				default: ''
			},
			label: {
				type: String,
				default: ''
			},
			prefix: {
				type: String,
				default: ''
			},
			placeholder: {
				type: String,
				default: ''
			},
			value: {
				type: String,
				default: ''
			},
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			size: {
				type: String,
				default: 'medium' // small|medium|large
			},
			dark: {
				type: Boolean,
				default: false
			},
			mask: {
				type: String,
				default: ''
			},
			validate: {
				type: String,
				default: ''
			}
		},
		data: () => ({
			focused: false
		}),
		methods: {
			focus(value) {
				this.$refs.element.focus();
			},
			onFocus(event) {
				this.focused = true;
			},
			onBlur(event) {
				this.focused = false;
			},
			onChange(event) {
				this.$emit('input', event.target.value);
			},
			onKeyUp(event) {
				this.$emit('keyup', event);
			},
			onKeyDown(event) {
				this.$emit('keydown', event);
			},
		}
	}
</script>

<style lang="sass">
	.ev-text{
		position: relative;
		display: block;
		&__label{
			font-size: 1.2rem;
			color: black;
			display: block;
			text-align: left;
			padding-bottom: 10px;
		}
		&__input{
			position: relative;
			display: flex;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border: 1px solid black;
				border-radius: 6px;
				transition: .15s ease-out;
			}
		}
		&__element{
			border: 0;
			background: transparent;
			color: black;
			width: 100%;
			flex: 1;
			transition: color .3s $ease-primary;
			position: relative;
			&::-webkit-input-placeholder {
				font-weight: 400;
				opacity: 0.5;
			}
			&:-moz-placeholder {
				font-weight: 400;
				opacity: 0.5;
			}
			&::-moz-placeholder {
				font-weight: 400;
				opacity: 0.5;
			}
			&:-ms-input-placeholder {
				font-weight: 400;
				opacity: 0.5;
			}
			&::-ms-input-placeholder {
				font-weight: 400;
				opacity: 0.5;
			}
		}
		&__prefix{
			line-height: normal;
			display: flex;
			align-self: center;
			color: black;
			font-weight: 600;
			padding-right: 5px;
			transition: color .3s $ease-primary;
			position: relative;
		}
		&__error{
			position: absolute;
			bottom: 30px;
			font-size: 11px;
			color: $color-warn;
			visibility: hidden;
			opacity: 0;
			transition: .2s $ease-primary;
		}
		&--sm{
			padding-bottom: 20px;
			.ev-text{
				&__element{
					font-size: 1.4rem;
					font-weight: 700;
					padding: 8px 0;
				}
				&__label{
					font-size: 1rem;
					padding-bottom: 5px;
				}
				&__prefix{
					font-size: 1.4rem;
				}
				&__input{
					padding: 0 8px;
				}
			}
		}
		&--md{
			padding-bottom: 30px;
			.ev-text{
				&__element{
					font-size: 1.6rem;
					font-weight: 700;
					padding: 14px 0;
				}
				&__prefix{
					font-size: 1.6rem;
				}
				&__input{
					padding: 0 14px;
				}
			}
		}
		&--lg{
			padding-bottom: 30px;
			.ev-text{
				&__element{
					font-size: 2rem;
					font-weight: 700;
					padding: 18px 0;
				}
				&__prefix{
					font-size: 2rem;
				}
				&__input{
					padding: 0 18px;
				}
			}
		}
		&.is-invalid{
			.ev-text{
				&__error{
					bottom: 12px;
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&.is-focused{
			.ev-text{
				&__input{
					&:before{
						border-width: 2px;
					}
				}
			}
			&:not(.is-dark){
				.ev-text{
					&__element{
						color: white;
					}
				}
			}
		}
		&.is-dark{
			.ev-text{
				&__label,
				&__element,
				&__prefix{
					color: white;
				}
				&__input{
					&:before{
						border-color: white;
					}
				}
				&__element{
					&::-webkit-input-placeholder {
						color: white;
					}
					&:-moz-placeholder {
						color: white;
					}
					&::-moz-placeholder {
						color: white;
					}
					&:-ms-input-placeholder {
						color: white;
					}
					&::-ms-input-placeholder {
						color: white;
					}
				}
			}
			&.is-invalid{
				.ev-text{
					&__label,
					&__element,
					&__prefix{
						color: $color-warn;
					}
					&__input{
						&:before{
							border-color: $color-warn;
						}
					}
				}
			}
		}
	}

	@each $theme, $color in $themes {
		.ev-text--#{$theme} {
			&:not(.is-dark){
				.ev-text{
					&__prefix{
						color: $color;
					}
					&__element{
						&::-webkit-input-placeholder {
							color: $color;
						}
						&:-moz-placeholder {
							color: $color;
						}
						&::-moz-placeholder {
							color: $color;
						}
						&:-ms-input-placeholder {
							color: $color;
						}
						&::-ms-input-placeholder {
							color: $color;
						}
					}
				}
				&.is-focused{
					.ev-text{
						&__element{
							&::-webkit-input-placeholder {
								color: white;
							}
							&:-moz-placeholder {
								color: white;
							}
							&::-moz-placeholder {
								color: white;
							}
							&:-ms-input-placeholder {
								color: white;
							}
							&::-ms-input-placeholder {
								color: white;
							}
						}
					}
				}
			}

			&.is-focused,
			&:not(.is-dark){
				.ev-text{
					&__label,
					&__prefix,
					&__element{
						color: $color;
					}
					&__input{
						&:before{
							border-color: $color;
						}
					}
				}
			}

			&.is-focused:not(.is-dark){
				.ev-text{
					&__prefix{
						color: white;
					}
					&__input:before{
						background-color: $color;
					}
				}
			}
		}
	}
</style>
