<template>
	<div class="ev-institution"
		:class="{
			'ev-institution--left': align == 'left',
			'ev-institution--right': align == 'right',
			'is-dark': dark
		}"
	>
		<div class="ev-institution__wrapper container">
			<h2 class="ev-institution__title">
				{{ institution.name }}
			</h2>

			<ev-content
				class="ev-institution__content"
				v-if="quill"
				v-html="content"
				:theme="theme"
				:dark="dark"
			>
			</ev-content>

			<div class="ev-institution__quill">
			</div>
		</div>

		<div class="ev-institution__thumbnail" :style="{ 'background-image': `url(${institution.thumbnail ? institution.thumbnail.src : ''})` }">
		</div>
	</div>
</template>

<script>
	import Quill from 'quill';

	export default {
		props: {
			align: {
				type: String,
				default: 'left'
			},
			institution: {
				type: Object,
				default: () => {}
			},
			theme: {
				type: String,
				default: 'primary'
			},
			dark: {
				type: Boolean,
				default: false
			}
		},
		data: () => ({
			quill: null
		}),
		mounted() {
			this.quill = new Quill(this.$el.querySelector('.ev-institution__quill'));
			this.quill.setContents(this.institution.content.ops);
		},
		computed: {
			content () {
				return this.quill.container.firstChild.innerHTML;
			}
		}
	}
</script>

<style lang="sass">
	.ev-institution{
		position: relative;
		&__title{
			@include grid-column(12);
		}
		&__wrapper{
			padding-top: 100px;
			padding-bottom: 100px;
		}
		&__title{
			font-family: Raleway;
			font-size: 4rem;
			font-weight: 200;
			margin-top: 0;
		}
		&__quill{
			display: none;
		}
		&__content,
		&__title{
			clear: both;
			@include grid-column(5);
		}
		&__thumbnail{
			background-size: cover;
			background-position: center;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 50%;
		}
		&--left{
			text-align: right;
			.ev-institution{
				&__thumbnail{
					right: 0;
				}
			}
		}
		&--right{
			text-align: left;
			.ev-institution{
				&__content,
				&__title{
					@include grid-push(7);
				}
				&__thumbnail{
					left: 0;
				}
			}
		}
		&.is-dark{
			.ev-institution{
				&__title{
					color: white;
				}
			}
		}
		@each $theme, $color in $themes{
			&--#{$theme}{
				.ev-institution{
					&__title{
						color: $color;
					}
				}
			}
		}
	}
</style>
