<template>
	<div class="ev-event-related"
		:class="{
			'ev-event-related--primary': theme == 'primary',
			'ev-event-related--secondary': theme == 'secondary',
			'ev-event-related--accent': theme == 'accent',
			'ev-event-related--warn': theme == 'warn'
		}"
		>
		<h3 class="ev-event-related__title">
			Outros Eventos
		</h3>
		<div class="ev-event-related__events">
			<ev-event-card
				v-for="(event, index) in events"
				:key="index"
				:title="event.title"
				:thumbnail="event.thumbnail"
				:theme="theme"
			>
			</ev-event-card>
		</div>
	</div>
</template>

<script>
	export default {
		components: {
			'ev-event-card': require('./EventCard')
		},
		props: {
			events: {
				type: Array,
				default: () => []
			},
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			}
		}
	}
</script>

<style lang="sass">
	.ev-event-related{
		&__title{
			font-family: Raleway;
			font-weight: 200;
			font-size: 4.4rem;
		}
		&__events{
			@include grid-collapse;
		}
		.ev-event-card{
			margin-bottom: 30px;
			@include grid-column(6);
		}

		// Theming
		@each $theme, $color in $themes{
			&--#{$theme}{
				.ev-event-related{
					&__title{
						color: $color;
					}
				}
			}
		}
	}
</style>
