<template>
	<div class="ev-event-browse"
		:class="{
			'ev-event-browse--primary': theme == 'primary',
			'ev-event-browse--secondary': theme == 'secondary',
			'ev-event-browse--accent': theme == 'accent',
			'ev-event-browse--warn': theme == 'warn'
		}"
	>
		<ev-inner-header title="Próximos Eventos" :theme="theme">
		</ev-inner-header>

		<div class="ev-event-browse__future">
			<ev-slideshow ref="slideshow" :options="swiper" :pagination="false" :buttons="false">
				<ev-event-card
					size="large"
					v-for="event in events"
					:key="event.id"
					:theme="theme"
					:title="event.title"
					:excerpt="event.excerpt"
					:date="event.date"
					:thumbnail="event.thumbnail"
					:institution="event.institution"
					@click="read(event)"
				>
				</ev-event-card>

			</ev-slideshow>
		</div>

		<div class="ev-event-browse__past">
			<div class="container">
				<div class="ev-event-browse__body">
					<ev-event-card
						v-for="event in events"
						:key="event.id"
						:theme="theme"
						:title="event.title"
						:excerpt="event.excerpt"
						:date="event.date"
						:thumbnail="event.thumbnail"
						:institution="event.institution"
						@click="read(event)"
					>
					</ev-event-card>
				</div>

				<div class="ev-event-browse__sidenav">
					<ev-event-filter :theme="theme">
					</ev-event-filter>

					<ev-donation-widget
						theme="primary"
						:dark="true"
						size="small"
						@submit="$router.push('/events/donate')"
					>
					</ev-donation-widget>

					<ev-volunteer-widget
						theme="accent"
						:dark="true"
						size="small"
						@submit="$router.push('/events/volunteer')"
					>
					</ev-volunteer-widget>
				</div>
			</div>
		</div>

		<transition name="fade-scale">
			<router-view @close="$router.push('/events')"></router-view>
		</transition>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';
	import { $store } from '../../main';

	export default {
		components: {
			'ev-event-card': require('./EventCard'),
			'ev-event-filter': require('./EventFilter'),
			'ev-donation-widget': require('../donation/DonationWidget'),
			'ev-volunteer-widget': require('../volunteer/VolunteerWidget')
		},
		beforeRouteEnter (to, from, next) {
			if ($store.state.event.events.length == 0) {
				$store.dispatch('event/fetchEvents')
					.then(events => {
						next();
					})
			} else {
				next();
			}
		},
		data: () => ({
			theme: 'primary',
			last: null,
			swiper: {
				onInit: () => {},
				slidesPerView: 'auto',
				centeredSlides: true,
				slideToClickedSlide: true,
			}
		}),
		mounted() {
			var swiper = this.$refs.slideshow.swiper;

			// Set active index
			this.last = swiper.activeIndex;

			swiper.on('click', () => {
				if (this.last == swiper.clickedIndex)
					this.read();

				this.last = swiper.clickedIndex;
			});
		},
		computed: {
			...mapGetters({
				events: 'event/getEvents'
			})
		},
		methods: {
			read(event) {
				this.$router.push(`/events/read/${event.id}`);
			},
			onVolunteerSubmit(event) {
				this.$store.commit('logger/error', {
					message: 'Lorem ipsum sit amet!',
				});
			}
		}
	}
</script>

<style lang="sass">
	.ev-event-browse{
		background: white;
		&__title{
			font-family: Raleway;
			font-weight: 200;
			font-size: 4rem;
			margin: 1em 0 1.5em;
			@include grid-column(12);
		}
		&__future{
			margin-bottom: 70px;
			padding: 100px 0;
		}
		&__past{
			.ev-event-card{
				margin-bottom: 30px;
			}
		}
		&__body{
			@include grid-column(8);
		}
		&__sidenav{
			@include grid-column(3);
			@include grid-push(1);
			> *{
				margin-bottom: 40px;
			}
		}
		.ev-slideshow{
			&__wrapper{
				height: intrinsic;
			}
			.swiper-slide{
				width: 70%;
				transform: scale(.85);
				&.swiper-slide-active{
					transform: scale(1);
				}
			}
		}
		.ev-inner-header{
			margin: 0;
		}

		@each $theme, $color in $themes {
			&--#{$theme}{
				.ev-event-browse{
					&__title{
						color: $color;
					}
					&__future{
						background: darken($color, 30%);
					}
				}
			}
		}
	}
</style>
