<template>
	<form class="ev-partner-widget"
		:class="{
			'ev-partner-widget--primary': theme == 'primary',
			'ev-partner-widget--secondary': theme == 'secondary',
			'ev-partner-widget--accent': theme == 'accent',
			'ev-partner-widget--warn': theme == 'warn',
			'is-dark': dark
		}"
		@submit="onSubmit"
	>
		<ev-button class="ev-partner-widget__button" :theme="theme" size="large">
			Seja parceiro!
		</ev-button>
		<small class="ev-partner-widget__caption">
			Lorem ipsum sit amet
		</small>
	</form>
</template>

<script>
	export default {
		props: {
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			dark: {
				type: Boolean,
				default: false
			}
		},
		methods: {
			onSubmit(event) {
				event.preventDefault();
				this.$emit('submit', event);
			}
		}
	}
</script>

<style lang="sass">
	.ev-partner-widget{
		text-align: center;
		&__caption{
			font-size: 1.2rem;
			margin-top: .5em;
			display: block;
		}
		.ev-button{
			width: 100%;
		}

		// Theming
		@each $theme, $color in $themes {
			&--#{$theme}{
				&:not(.is-dark){
					color: $color;
				}
				&.is-dark{
					color: white;
				}
			}
		}
	}
</style>
