<template>
	<header class="ev-header-toolbar"
		:class="{
			'ev-header-toolbar--primary': theme == 'primary',
			'ev-header-toolbar--secondary': theme == 'secondary',
			'ev-header-toolbar--accent': theme == 'accent',
			'ev-header-toolbar--warn': theme == 'warn',
			'is-active': active,
			'has-parent': parent
		}"
	>
		<div class="container">
			<nav class="ev-header-toolbar__nav">
				<button class="ev-header-toolbar__prev ev-header-toolbar__button material-icons" @click="onPrevious">
					arrow_back
				</button>
				<button class="ev-header-toolbar__menu ev-header-toolbar__button material-icons" @click="onOpen">
					menu
				</button>
			</nav>

			<router-link to="/" class="ev-header-toolbar__brand">
				<img src="/images/aev-brand.png" alt="Associação Esperança e Vida">
			</router-link>

			<ev-header-search class="ev-header-toolbar__search">
			</ev-header-search>
		</div>
	</header>
</template>

<script>
	export default {
		components: {
			'ev-header-nav': require('./HeaderNav'),
			'ev-header-search': require('./HeaderSearch')
		},
		props: {
			active: {
				type: Boolean,
				default: false
			},
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			}
		},
		data: () => ({
			parent: false
		}),
		watch: {
			'$route' (to, from) {
				if (to.path == '/')
					this.parent = false;
				else
					this.parent = true;
			}
		},
		mounted() {
			if (this.$route.path != '/')
				this.parent = true;
		},
		methods: {
			onPrevious(event) {
				this.$router.go(-1);
			},
			onOpen(event) {
				this.$emit('open', event);
			},
			onSearch(event) {
			
			}
		}
	}
</script>

<style lang="sass">
	.ev-header-toolbar{
		transition: .3s $ease-primary;
		&__brand{
			flex: 1;
			text-align: center;
			img{
				width: 120px;
				height: auto;
				margin: auto;
				transition: .3s $ease-primary;
			}
		}
		&__button{
			padding: 15px 0px;
			background: transparent;
			border: 0;
			color: white;
			font-size: 3.2rem;
			cursor: pointer;
		}
		&__prev{
			position: absolute;
			opacity: 0;
			visibility: hidden;
			transition: .3s $ease-primary;
		}
		&__nav{
			margin-left: 25px;
		}
		&__search{
			margin-right: 25px;
		}
		&__menu{
			transition: transform .3s $ease-primary;
		}
		.container{
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
		}
		&.is-active{
			top: 0;
			box-shadow: 0 0 10px rgba(black, 0.4);
			.ev-header-toolbar{
				&__brand{
					img{
						width: 100px;
					}
				}
			}
		}
		&.has-parent{
			.ev-header-toolbar{
				&__menu{
					transform: translate(50px, 0);
				}
				&__prev{
					opacity: 1;
					visibility: visible;
				}
			}
		}

		// Theming
		@each $theme, $color in $themes{
			&--#{$theme}{
				&.is-active{
					background: $color;
				}
			}
		}
	}
</style>
