<template>
	<div class="ev-post-card"
		:style="{ 'background-image': `url(${thumbnail ? thumbnail.src : ''})` }"
		:class="{
			'ev-post-card--primary': theme == 'primary',
			'ev-post-card--secondary': theme == 'secondary',
			'ev-post-card--accent': theme == 'accent',
			'ev-post-card--warn': theme == 'warn'
		}"
		@click="onClick"
	>
		<div class="ev-post-card__categories">
			<ev-button v-for="category in categories"
				class="ev-post-card__category"
				size="small"
				:key="category.id"
				:theme="theme"
				:dark="true"
				:ripple="false"
				@click="onCategoryClick($event, category)"
			>
				{{ category.name }}
			</ev-button>
		</div>

		<div class="ev-post-card__wrapper">
			<h3 class="ev-post-card__title">
				{{ title }}
			</h3>
			<p class="ev-post-card__excerpt">
				{{ excerpt }}
			</p>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			title: {
				type: String,
				default: ''
			},
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			thumbnail: {
				type: Object|String,
				default: () => {}
			},
			excerpt: {
				type: String,
				default: ''
			},
			categories: {
				type: Array,
				default: () => []
			}
		},
		methods: {
			onClick(event) {
				this.$emit('click', event)
			},
			onCategoryClick(event, category) {
				this.$emit('category-click', category)

				event.stopPropagation();
				event.preventDefault();
			}
		}
	}
</script>

<style lang="sass">
	.ev-post-card{
		border-radius: 10px;
		box-sizing: border-box;
		background-size: cover;
		background-position: 50% 50%;
		position: relative;
		transition: .3s $ease-primary;
		cursor: pointer;
		overflow: hidden;
		min-height: 250px;
		color: white;
		text-align: center;
		&:before{
			content: "";
			background: rgba(black, 0.5);
			transition: .3s $ease-primary;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&__wrapper{
			padding: 20px;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			transform: translate(0, -25%);
			transition: .3s $ease-primary;
			z-index: 5;
		}
		&__title{
			font-size: 3.2rem;
			font-family: Raleway;
			margin: 0;
		}
		&__excerpt{
			font-size: 1.8rem;
			opacity: 0;
			transition: .3s $ease-primary;
		}
		&__time{
			opacity: 0;
			transition: .3s $ease-primary;
			display: block;
			margin: 1em 0;
		}
		&__category{
			margin-left: 0.25em;
		}
		&__categories{
			position: absolute;
			top: 0;
			right: 20px;
			opacity: 0;
			transition: .3s $ease-primary;
		}
		&--primary{
			border-color: $color-primary;
			&:hover:before{
				background: rgba(darken($color-primary, 10%), 0.9);
			}
		}
		&--secondary{
			border-color: $color-secondary;
			&:hover:before{
				background: rgba(darken($color-secondary, 10%), 0.9);
			}
		}
		&--accent{
			border-color: $color-accent;
			&:hover:before{
				background: rgba(darken($color-accent, 10%), 0.9);
			}
		}
		&--warn{
			border-color: $color-warn;
			&:hover:before{
				background: rgba(darken($color-warn, 10%), 0.9);
			}
		}
		&:hover{
			background-position: 50% 45%;
			.ev-post-card{
				&__wrapper{
					transform: translate(0, -50%);
				}
				&__excerpt,
				&__time,
				&__categories{
					opacity: 1;
				}
				&__categories{
					top: 20px;
				}
			}
		}
	}
</style>
