<template>
	<div class="ev-post-related"
		:class="{
			'ev-post-related--primary': theme == 'primary',
			'ev-post-related--secondary': theme == 'secondary',
			'ev-post-related--accent': theme == 'accent',
			'ev-post-related--warn': theme == 'warn'
		}"
		>
		<h3 class="ev-post-related__title">
			Notícias Relacionadas
		</h3>
		<div class="ev-post-related__posts">
			<ev-post-card
				v-for="(post, index) in posts"
				:key="index"
				:title="post.title"
				:thumbnail="post.thumbnail"
				:theme="theme"
			>
			</ev-post-card>
		</div>
	</div>
</template>

<script>
	export default {
		components: {
			'ev-post-card': require('./PostCard')
		},
		props: {
			posts: {
				type: Array,
				default: () => []
			},
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			}
		}
	}
</script>

<style lang="sass">
	.ev-post-related{
		&__title{
			font-family: Raleway;
			font-weight: 200;
			font-size: 4.4rem;
		}
		&__posts{
			@include grid-collapse;
		}
		.ev-post-card{
			margin-bottom: 30px;
			@include grid-column(6);
		}

		// Theming
		@each $theme, $color in $themes{
			&--#{$theme}{
				.ev-post-related{
					&__title{
						color: $color;
					}
				}
			}
		}
	}
</style>
