<template>
	<div class="ev-post-attachments"
		:class="{
			'ev-post-attachments--primary': theme == 'primary',
			'ev-post-attachments--secondary': theme == 'secondary',
			'ev-post-attachments--accent': theme == 'accent',
			'ev-post-attachments--warn': theme == 'warn'
		}"
	>
		<table class="ev-post-attachments__table">
			<thead>
				<tr>
					<th width="50%">Nome</th>
					<th>Tamanho</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					v-for="(file, index) in files"
					:key="index"
				>
					<td>
						{{ file.label }}
					</td>
					<td>
						1.234kb
					</td>
					<td>
						<ev-button
							size="small"
							:theme="theme"
							@click="onClick"
						>
							download
						</ev-button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
	export default {
		props: {
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			}
		},
		data: () => ({
			files: [
				{
					link: 'http://google.com',
					label: 'HelloWorld.docx'
				},
				{
					link: 'http://google.com',
					label: 'Winners.txt'
				}
			]
		}),
		methods: {
			onClick(event) {
				//
			}
		}
	}
</script>

<style lang="sass">
	.ev-post-attachments{
		&__title{
			font-size: 3.2rem;
			font-family: Raleway;
			font-weight: 200;
		}
		&__table{
			width: 100%;
			border-collapse: collapse;
			thead{
				text-align: left;
				font-size: 1.4rem;
				th{
					padding: 10px 20px;
				}
			}
			tbody{
				font-size: 1.2rem;
				tr{
					transition: background .3s $ease-primary;
					&:nth-child(odd){
						background: rgba(black, 0.05);
					}
					td{
						padding: 10px 20px;
						&:last-child{
							text-align: right;
						}
					}
				}
			}
		}

		// Theming
		@each $theme, $color in $themes{
			&--#{$theme}{
				.ev-post-attachments{
					&__table{
						color: $color;
						tbody{
							tr{
								&:hover{
									background: rgba($color, 0.1);
								}
							}
						}
					}
				}
			}
		}
	}
</style>
